<style type='text/css'>
 #msg_table {border-color:#000000; border-width:1px; border-style:dashed; background-color: #ccceee; }
 .write {border-color:#000000; border-width:1px; border-style:dashed; background-color: #fefefe;}
 #hr        {height:1px; border:1px dashed black; text-align:center;}
 BODY,TR,TD,TABLE        {font-size: 12px; color:#000000;}
 BODY     {scrollbar-face-color: #ffffff; scrollbar-shadow-color: #000000; scrollbar-highlight-color: #ffffff; scrollbar-3dlight-color: #000000; scrollbar-darkshadow-color: #ffffff; scrollbar-track-color: #ffffff;scrollbar-arrow-color: #000000}
 A:link   {text-decoration: none; color: #000099}
 A:visited {text-decoration: none; color: #000099}
 A:active {color: #000099}
 A:hover  {text-decoration: underline; color: #000099}
 TEXTAREA                 {
                       font-size:13px;FONT-FAMILY: verdana,arial;font-size:11px; color:#000000;
                       background-color:#FFFFFF;
                       border:1; border-color:#000000; border-style:solid;
                         }
 INPUT                    { background-color:#FFFFFF;
                                    font:verdana; color:#000000; font-size:13px;
                                    border:1; border-color:#; border-style:solid;border-style:dashed;
                                   }
</style>